<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do Lists</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <div class="nav-bar">
            <h1>ToDo Lists Application</h1>
        </div>
    </header>

    <div class="container">
        <div class="main-section">
            <div class="title"><h2>Add Task</h2></div><br>
            <div class="msg">
            </div>

            <div id="Submit-form">
                <form action="/" method="post" class="user-input">
                    <input type="text" name="task" id="userItems" placeholder="Enter your today task" >
                    <button type="submit" id="btn" for="userItems">Submit</button>
                    <!-- <button type="button" id="btn2" for="userItems">Add</button> -->
                </form><br>
            </div>

            <div id="Edit-form" class="hide" >
                <form action="/edit/" method="post" class="user-input">
                    <input type="text" name="task" id="userItems" placeholder="Enter your today task" >
                    <button type="submit" id="btn" for="userItems">Edit</button>
                    <!-- <button type="button" id="btn2" for="userItems">Add</button> -->
                </form><br>
            </div>

            <div class="tasks">
                <h3>Task List<h4><%= (new Date()) %></h4></h3>
                <div class="items-list" id="task_list">
                    <% todotask.forEach(todo => { %>
                        <div>
                        <span><%= todo.task %></span>
                        <a href="/del/<%= todo._id %>" >
                            <button type="submit" class="btnEditOrDelete" for="item" id=<%= todo._id %> >Delete</button>
                        </a>
                        <button type="button" class="btnEditOrDelete" for="item" id=<%= todo._id %> value=<%= todo._id %> >Edit</button>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/script.js"></script>
</body>

</html>